# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Environments
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
*.spec

# IDE
.vscode/
.idea/
